<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallery</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<canvas id="three-canvas"></canvas>
	<div class="popup_layer" id="popup_layer" style="display: none;">
		<div class="popup_box">
			<div style="height: 10px; width: 375px; float: top;">
			<a id="btnPopClose">
				<img src="/images/ic_close_36px.svg" class="btnPopclose" width="30px" height="30px">
			</a>
			</div>
			<!--팝업 컨텐츠 영역-->
			<div class="popup_cont">
				<h5 id="keyword_box"><%= data.keyword %></h5>
				<p id="lyrics_box"><%= data.lyrics %></p>
			</div>
		</div>
	</div>
	<script type="Text/javascript">var drawingSrc = <?= $data.drawing; ?></script>
	<script type="module" src="/js/gallery.js" defer></script>
</body>
</html>